body {
  min-height: 100vh;
}

.form-control:not(select) {
  padding: 1.1rem 0.5rem;
}
#choice {
  padding: 1.1rem 0.5rem;
}
select.form-control {
  height: 3.25vw;
  padding-left: 0.5rem;
}

.form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control:focus {
  box-shadow: none;
}
