{% extends "StudentBase.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assetStudent/css/noteStylesheet.css')}}">
{% endblock %}

{% block body %}
<textarea></textarea>
<div id="create">+</div> 
{% endblock %}
{% block javascript %}
<script src="{{ asset('assetStudent/js/userProfile.js') }}"></script>
{% endblock %}
