{%extends 'userBase.html.twig'%}
{% block stylesheets %}

{% endblock %}
{% block Sidebar %}    {% endblock %}
{% block body %}

<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="{{ asset('img/newsfeed2.svg') }}" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>let’s <br>
                        Introduce about <br>
                        myself</h2>
                    <p>
                        insatien is a platform that provides insat students with multiple tools useful in their daily lives
                    </p>

                    <a class="primary_btn" href="#services"><span>Get Started</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row py-5 mt-4 align-items-center">
           

            <div class="col-md-7 col-lg-6 ml-auto">

            </div>
            <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
                <img src="{{ asset('img/newsfeed1.svg')}}" alt="" class="img-fluid mb-3 d-none d-md-block">
                <h1>Create an Account</h1>
                <p class="font-italic text-muted mb-0">hurry up and join us !</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
 
{% block javascript %}

{% endblock %}