{%extends 'userBase.html.twig'%}
{% block stylesheets %}

{% endblock %}

{% block body %}

<section class="about_area section_gap">
        
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="{{ asset('img/newsfeed2.svg') }}" height="500" width="600">
                </div>
            </div>
                <div class="offset-lg-1 col-lg-5">
                    
                    <div class="card border-left-info shadow h-100 py-2 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    {#<div class="text-xs font-weight-bold text-info text-uppercase mb-1">covoiturage</div>#}
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ covoiturages[0].owner.firstName}} is going to {{ covoiturages[0].arrivalPoint }}</div>
                                        </div>
                                    <div class="col-auto">
                                         <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="card border-left-info shadow h-100 py-2 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">covoiturage</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                    <div class="col-auto">
                                         <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="card border-left-info shadow h-100 py-2 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">covoiturage</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                    <div class="col-auto">
                                         <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                        </div>
                    </div>
                   
                </div>
    </section>


    <section class="about_area section_gap">
        
        <div class="row justify-content-start align-items-center">
                <div class="offset-lg-1 col-lg-5">
                    {% for question in questions %}
                    <div class="card border-left-warning shadow h-100 py-2 mb-4">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">covoiturage</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                    <div class="col-auto">
                                         <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-5">
                    <div class="about_img">
                        <img class="" src="{{ asset('img/newsfeed1.svg') }}" height="500" width="600">
                    </div>
                </div>
    </section>
<footer>
    <div class="info-color-dark text-center py-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h6 class="text-center text-uppercase font-weight-bold text-teal mx-3">
                    ALWAYS KEEPING YOU UPDATED .. </h6> <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
 
{% block javascript %}

{% endblock %}