{% extends 'StudentBase.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary"> {{ class.title }}</h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 18px, 0px);">
          <div class="dropdown-header">Go to</div>
          <a class="dropdown-item" href="#">My Questions</a>
          <a class="dropdown-item" href="/student/class/{{ class.id }}/showAllQuestions"> All Questions</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/student/class/{{ class.id }}/addQuestion"> <i class="fa fa-plus" aria-hidden="true"></i>  Add new question</a>
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
    {{ class.description }}
    </div>
  </div>
{% endblock %}

{% block javascript %}

{% endblock %}
