{% extends "userBase.html.twig" %}
{% block body %}
<div class="row mb-4">
    <div class="col-md-4">
        <section>
            <div class="row mb-4">
                <div class="col-md-8">            
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{{ path('Search') }}" method="POST">
                                <div class="input-group">
                                  <input type="search" class="form-control bg-light border-0 small" placeholder="Search in notes..." aria-label="Search" aria-describedby="basic-addon2" name='search'>
                                  <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">
                                      <i class="fas fa-search fa-sm"></i>
                                    </button>
                                  </div>
                                </div>
                              </form>
                        </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                    <th>Name</th>
                                    </tr>
                                </thead>
                             </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}