
###> symfony/framework-bundle ###

/.env
/var
/vendor
###< symfony/framework-bundle ###
/public/htaccess
/public/.htaccess
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/public/uploads

/mercure/updates.db