{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<section class="about_area section_gap">
		<div class="container">
			<br>
			<br>
			<br>
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img" style="width:70%">
						<img class="" src="{{ asset('img/waitingCat.jpg') }}" alt="">
					</div>
				</div>

				<div class="offset-lg-2 col-lg-5">
					<div class="main_title text-left">
						<h2>Reset Email Sent</h2>
						<p>An email has been sent that contains a link that you can click to reset your password. This link will expire in
							{{ tokenLifetime|date('g') }}
							hour(s).</p>
						<p>If you don't receive an email please check your spam folder or
							<a class="primary_btn" href="{{ path('app_forgot_password_request') }}">
								<span>try again</span>
							</a>.</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
	</section>
{% endblock %}
