{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset("resetPassword/request.css")}}">
{% endblock %}
{% block body %}

	<br>
	<br>
	<br>
	<div class="container">
		<div class="left">
			<div class="login">Reset your password</div>
			<div class="eula">
				Enter your email address and we we will send you a link to reset your password.</div>
		</div>
		<div class="right">

			<div class="form">
				{{ form_start(resetForm) }}

				{{ form_row(resetForm.plainPassword, {'attr' : {'class' : 'email' }}) }}

				<button class="btn btn-primary">Reset password</button>
				{{ form_end(resetForm) }}
			</div>
		</div>
	</div><br>

	<br>
	<br>
	<br>

{% endblock %}
