* {
  box-sizing: border-box;
}

#create,
textarea {
  float: left;
  padding: 1.563vw 1.563vw 2.5vw;
  margin: 0 1.25vw 1.25vw 0;
  width: 15.625vw;
  height: 15.625vw;
}

#create {
  user-select: none;
  padding: 1.25vw;
  border-radius: 1.25vw;
  text-align: center;
  border: 0.938vw solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.1);
  font: 13.75vw "Helvetica", sans-serif;
  line-height: 11.563vw;
}

#create:hover {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

textarea {
  font: 1.25vw "Gloria Hallelujah", cursive;
  line-height: 1.5;
  border: 0;
  border-radius: 0.188vw;
  background: linear-gradient(#f9efaf, #f7e98d);
  box-shadow: 0 0.25vw 0.375vw rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  /*font-smoothing: subpixel-antialiased; webkit*/
  max-width: 32.5vw;
  max-height: 15.625vw;
}

textarea:hover {
  box-shadow: 0 0.313vw 0.5vw rgba(0, 0, 0, 0.15);
}

textarea:focus {
  box-shadow: 0 0.313vw 0.75vw rgba(0, 0, 0, 0.2);
  outline: none;
}
