{% extends "StudentBase.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assetStudent/css/noteStylesheet.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        
        </div>
        
        <div class="col-md-9">
        
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
