{% extends "StudentBase.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assetStudent/css/noteStylesheet.css')}}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        <section>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    haha
                </div>
                <div class="col-md-3">
                    haha
                </div>
            </div>
        </section>
        <section>

        </section>
        </div>
        
        <div class="col-md-9">
        hahaha
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
