{% extends 'userBase.html.twig' %}

{% block stylesheets %}
    <style>
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }
    </style>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="container">
    {{ form_start(formQuiz) }}

    {{ form_row(formQuiz.title,{'attr':{'placeholder':'quiz title..'}}) }}

        <div class="container mt-2 mb-2">
                <div id="questions">
                    <button class="btn btn-success btn-add-question mt-2 mb-2" type="button">
                        <i class="fa fa-plus" aria-hidden="true"> question</i>
                    </button>
                </div>
        </div>


    {{ form_row(formQuiz.addQuiz,{'attr':{'onclick':'jsonQuestions()','class':'btn btn-info ml-3'}}) }}

    {{ form_end(formQuiz) }}

    </div>

</div>



{% endblock %}

{% block javascripts %}


    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $(function()
        {
            $(document).on('click', '.btn-add-question', function(e)
            {
                e.preventDefault();
                $(e.target).parents('#questions:first').append(
                    '<div class="entry input-group question border border-info mt-2 mb-2">' +
                        '<div class="row container mt-2 mb-2">'+
                        '<div class="col-sm-6" >'+
                    '                            <input class="form-control mt-2 mb-2"  autocomplete="false"  type="text" placeholder="Add question" />' +
                    '                            <span class="input-group-btn mt-2 mb-2">' +
                    '                            <button class="btn btn-danger btn-remove-question mt-2 mb-2 " type="button">' +
                    '                              <i class="fa fa-minus" aria-hidden="true"> question</i>' +

                    '                            </button>' +
                    '</span>' +
                    ' <button class="btn btn-success btn-add-answer mt-2 mb-2" type="button">' +
                    '                              <i class="fa fa-plus" aria-hidden="true"> answer</i>' +
                    '                            </button>'+
                        '</div>'+
                    '                            <div class="answers col-sm-6 mt-2 mb-2">' +
                    '                            </div>' +
                        '</div>'+
                    '                        </div>'
                );




            }).on('click', '.btn-remove-question', function(e)
            {
                $(this).parents('.entry:first').remove();

                e.preventDefault();
                return false;
            }).on('click', '.btn-remove-answer', function(e)
            {
                $(this).parents('.answer:first').remove();

                e.preventDefault();
                return false;
            }).on('click', '.btn-add-answer', function(e)
            {
                e.preventDefault();

                $(e.target).parents('.question:first').find('.answers').append(
                    '<div class="answer input-group">' +
                    '    <input class="form-control mt-2 mb-2"  autocomplete="false"   type="text" placeholder="Add answer" >' +
                    '<input class="toggleButton" type="checkbox" checked data-toggle="toggle"  data-onstyle="success" data-offstyle="danger" data-on="Correct" data-off="Wrong">'+
                    '    <button class="btn btn-danger btn-remove-answer mt-2 mb-2" type="button">' +
                    '        <i class="fa fa-minus" aria-hidden="true" > answer</i>' +
                    '' +
                    '    </button>' +
                    '</div>'
                );
                $('.toggleButton').bootstrapToggle();


            });
        });


        function jsonQuestions() {

            questionsAndAnswers=[];

            $('#questions').find('.question').each((i,question)=>{
                questionAndAnswers={};
                questionAndAnswers['question']=$(question).find('input:first')[0].value;
                if(questionAndAnswers['question']=='') return true;
                answers=[];
                $(question).find('.answer').each((i,answer)=>{



                    answerObj={};
                    answerObj['answer']=$(answer).find('input:first')[0].value;
                    if(answerObj['answer']=='') return true;
                    answerObj['valid']=!$(answer).children('div .toggle')[0].classList.contains('off');


                    answers.push(answerObj);
                });
                questionAndAnswers['answers']=answers;

                questionsAndAnswers.push(questionAndAnswers);


            });
            $('#form_questionsAndAnswers')[0].value=JSON.stringify(questionsAndAnswers);
        }





    </script>

{% endblock %}


