{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <p class="lead">your email has been sent ! </p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Go back</a>
    </p>
  </div>
    
{% endblock %}