<div class="text-center">
    <div class="error mx-auto" data-text="404"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
    </div>

    <p class="text-gray-500 mb-0">your account is currently banned</p>
    <a href="/logout">&larr;Go Back</a>
</div>