<div class="insat-bg">
	<nav id='nav_bar'>
		<div class='menu'>
			<span class='toggle'>
				<i></i>
				<i></i>
				<i></i>
			</span>
			<div class='menuContent'>
				<ul>
					<li><a class="navbar-brand"href="{{ path('home')}}">INSATIEN</a></li>
					<li><a class="nav-link" href="/event/calendar">Events calendar</a></li>
					<li><a class="nav-link" href="#contactUs">Contact us</a></li>
					<li><a class="nav-link" href="#signUp">Sign Up</a></li>
				</ul>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<p class="header-text">INSATIEN</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
