{% extends 'userBase.html.twig' %}

{% block body %}
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>

        <p class="text-gray-500 mb-0">No data found</p>
        <a href="/">&larr; Back to homepage</a>
    </div>
{% endblock %}

