{% extends 'StudentBase.html.twig' %}

{% block body %}

    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <a class="btn btn-secondary" type="button" href="/covoiturage/add">ajouter offre de covoiturage</a>
        <a class="btn btn-secondary" type="button" href="/covoiturage/show">recherche offre de covoiturage</a>

    </div>

{% endblock %}



